.ad
  %hr.short
  %hr
  = image_tag('oz_logo.jpeg') 
  澳洲制造 品质保证
  %hr
  %hr.short
.row.text-center
  - @products.each do |p|
    .col-sm-3.col-lg-3.col-md-3
      .thumbnail
        = image_tag "#{ENV['daigou_url']}/#{p.pictures[0].image.url(:thumb)}"
        .caption
          %h4 人民币: #{p.rmb_price}.00
          %a{href:"/#{@store.name}/products/#{p.id}"} #{p.name}
  = will_paginate @products


