!!!
%html
  %head
    %title=#{@store.name}的海淘小铺
    = stylesheet_link_tag 'application', media: :all
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = favicon_link_tag 'favicon.ico'
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{'name' => "viewport", content: "width=device-width, initial-scale=1"}
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{role:'navigation'}
      .container
        .navbar-header
          %a.navbar-brand{href:"/#{@store.name}"} #{@store.name}的海淘小铺
          %button.navbar-toggle{type:"button","data-toggle"=>"collapse", "data-target"=>"#navbar-main"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          
        %div.collapse.navbar-collapse{id:'navbar-main'}
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href:"#"}与我联系

    / %p.notice #{notice}
    %p.alert{id:'global-alert'}  #{alert}

    = content_for?(:content) ? yield(:content) : yield
  .container
    %hr
    %footer
      .row
        .col-lg-12.text-muted
          %p Copyright &copy; haitaoxiaopu 2014
